{% extends "base.html" %}
{% load static %}
{% block title %}Auction Detail{% endblock %}
{% block content %}
  {% include "navbar.html" %}

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>{{ auction.title }}</h2>
        <img src="{{ auction.image.url }}" alt="{{ auction.title }}" class="img-fluid mb-4" style="object-fit: contain; max-height: 400px;">
        <p class="lead">{{ auction.description }}</p>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Auction Details</h5>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Starting Price: ${{ auction.starting_price }}</li>
              <li class="list-group-item" id="current-highest-bid">Current Highest Bid: ${{ auction.get_max_bid|floatformat:2 }}</li>
              <li class="list-group-item" id="current-higehst-bidder">Highest bidder: {{ auction.get_higest_bidder }}</li>
              <li class="list-group-item">Seller: {{ auction.seller }}</li>
              <li class="list-group-item">Category: {{ auction.category }}</li>
              <li class="list-group-item">Status: {{ auction.get_auction_status_display }}</li>
              <li class="list-group-item" id="countdown">Time left: {{ auction.get_remaining_time|date:"H:i" }}</li>
            </ul>
          </div>
        </div>

        <!-- Bid Form -->
        <div class="card mt-3">
          <div class="card-body">
            <h5 class="card-title">Place a Bid</h5>
            <form method="post" action="" id="bid-form" name="bid">
              {% csrf_token %}
              {% for field in form %}
              <div class="form-group">
                <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {{field}}
              </div>
              {% endfor %}
              <button type="submit" class="btn btn-primary">Submit Bid</button>
            </form>
            <!-- Display validation messages here -->
            <div id="validation-messages" class="text-danger"></div>
          </div>
        </div>
        
        <!-- End Bid Form -->
      </div>
    </div>
  </div>
 
  <script >
    
  let url = `ws://${window.location.host}/ws/auction/{{ auction.id }}/`;
  const auctionSocket = new WebSocket(url);

  auctionSocket.onopen = function (){
    console.log('WebSocket connection opened.');

}


auctionSocket.onmessage = function (e) {
  const data = JSON.parse(e.data);
  console.log('Data', data);

  if (data.type === 'time_update') {
    const remainingTime = data.remaining_time;
    // Update the countdown using the function
    updateCountdown(remainingTime);
  } else if (data.type === 'bid_update') {
    // Handle bid update logic
    document.getElementById('current-highest-bid').innerText = `Current Highest Bid: $${data.bid_value}`;
    document.getElementById('current-higehst-bidder').innerText = `Highest Bidder: ${data.highest_bidder}`;
    const remainingTime = data.remaining_time;
    updateCountdown(remainingTime);
  }
};
  //for countdown time
  const countdownElement = document.getElementById('countdown');
  

  function updateCountdown(remainingTime){
    // Clear previous interval to avoid multiple intervals

    // Set up a new interval to update the countdown every second
    const countdownInterval = setInterval(function () {
      const days = Math.floor(remainingTime / (60 * 60 * 24));
      const hours = Math.floor((remainingTime % (60 * 60 * 24)) / (60 * 60));
      const minutes = Math.floor((remainingTime % (60 * 60)) / 60);
      const seconds = Math.floor(remainingTime % 60);

      // Use the pad function to ensure consistent two-digit formatting
      const pad = (num) => (num < 10 ? `0${num}` : num);

      // Format the time components with consistent two-digit formatting
      const formattedTime = `${pad(days)}d ${pad(hours)}h ${pad(minutes)}m ${pad(seconds)}s`;

      // Update the countdown with the formatted time
      countdownElement.textContent = `Time left: ${formattedTime}`;

      // Decrease the remaining time by one second
      remainingTime--;

      // Stop the interval when remainingTime reaches 0
      if (remainingTime < 0) {
        clearInterval(countdownInterval);
      }
    }, 1000); // Update every second
  }
    

  // Function to submit a bid
function submitBid(event) {
  event.preventDefault(); // Prevent the default form submission

  let bidValue = document.getElementById('id_bid_value').value;

  // Perform client-side validation
  let validationMessages = document.getElementById('validation-messages');
  validationMessages.innerHTML = ''; // Clear previous messages
  
  // Additional validation for bid length
  if (bidValue.length > 8) {
    validationMessages.innerText = 'Bid value cannot be greater than 8 digits.';
    document.getElementById('id_bid_value').value = '';
    return;
  }

  if (parseFloat(bidValue) <= parseFloat('{{ auction.starting_price }}')) {
    validationMessages.innerText = 'Bid value must be greater than the starting price.';
    document.getElementById('id_bid_value').value = '';
    return;
  }
  if (parseFloat(bidValue) <= parseFloat('{{ auction.get_max_bid }}')) {
    validationMessages.innerText = 'Bid value must be greater than the current highest price.';
    document.getElementById('id_bid_value').value = '';
    return;
  }

  let formData = new FormData(document.getElementById('bid-form'));

  fetch(window.location.pathname, {
    method: 'POST',
    body: formData,
    headers: {
      'X-Requested-With': 'XMLHttpRequest',
      'X-CSRFToken': '{{ csrf_token }}',
    },
  })
    .then((response) => {
      if (!response.ok) {
        throw new Error('Network response was not ok');
      }
      return response.json();
    })
    .then((data) => {
      console.log('Bid update:', data.bid_value);
      document.getElementById('current-highest-bid').innerText = `Current Highest Bid: $${data.bid_value}`;
    })
    .catch((error) => {
      console.error('Error submitting bid:', error);
      validationMessages.innerText = 'Error submitting bid. Please try again.';
    });

  auctionSocket.send(JSON.stringify({
    bidValue: bidValue,
  }));
}

  // Attach the submitBid function to the form's onsubmit event
  document.getElementById('bid-form').onsubmit = submitBid;

  

  </script>
  
{% endblock %}
