{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% include "navbar.html" %}

<div class="container-fluid text-center py-4">
    <h2 class="display-4">{{ header }}</h2>
</div>

<section class="container">
    <div class="row">
        {% for auction in auctions %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <a href="{{auction.get_absolute_url}}">
                    <img src="{{ auction.image.url }}" alt="Auction Image" class="card-img-top img-fluid" style="object-fit: contain; height: 200px;">
                </a>
                <div class="card-body">
                    <p class="text-muted">Seller: <b>{{ auction.seller }}</b></p>
                    <a href="{{auction.get_absolute_url}}" class="card-link">
                        <h5 class="card-title">{{ auction.title }}</h5>
                    </a>
                    <p class="card-text">{{ auction.description|truncatewords:20 }}</p>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <span class="text-success font-weight-bold">
                            Starting Price: ${{ auction.starting_price }}
                        </span>
                    </div>
                    <span class="text-success font-weight-bold">
                        Highest bid: ${{ auction.get_max_bid }}
                   </span>
                </div>
                <div class="card-footer">
                    Categories:
                    <b>{{ auction.category }}</b>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
